In [1]:
import numpy as np
import pandas as pd
import json
import difflib
from bs4 import BeautifulSoup

from collections import defaultdict
from pandas.io.json import json_normalize

from nltk.corpus import stopwords
from nltk.tokenize import RegexpTokenizer

import sys
stdout = sys.stdout
reload(sys)
sys.setdefaultencoding('utf-8')
sys.stdout = stdout

Functions for reading and analysing the Indeed data

In [74]:
def read_data(filepath):
    file = open(filepath, 'r')
    text = file.read()
    dict = json.loads(text)
    data = dict['results']
    return json_normalize(data)

def analyse_df(df):
    print df.head()
    print df.describe()
    print df.dtypes
    print df.isnull().sum()
    print df.shape

def parse_summary(text):
    soup = BeautifulSoup(text, 'html.parser')
    return soup.get_text().lower()

In [75]:
filepath1 = './indeed_job_search_api/job_ad_fulltime_with_summary.txt'
filepath2 = './indeed_job_search_api/job_ad_parttime_with_summary.txt'

fulltime_data = read_data(filepath1)
parttime_data = read_data(filepath2)

In [76]:
gov_data = pd.read_csv('./UK Gender Pay Gap Data - 2017 to 2018.csv')
analyse_df(gov_data)

                           EmployerName  \
0       "Bryanston School",Incorporated
1  "RED BAND" CHEMICAL COMPANY, LIMITED
2                           118 LIMITED
3                     123 EMPLOYEES LTD
4                          1610 LIMITED

                                             Address CompanyNumber SicCodes  \
0  Bryanston House,\r\nBlandford,\r\nDorset,\r\nU...      00226143    85310
1  19, Smith's Place,\r\nLeith Walk,\r\nEdinburgh...      SC016876    47730
2  Fusion Point,\r\nDumballs Road,\r\nCardiff,\r\...      03951948    61900
3  34, Roundhay Road,\r\nLeeds,\r\nEngland,\r\nLS...      10530651    78300
4  Hestercombe House,\r\nCheddon Fitzpaine,\r\nTa...      06727055    93110

   DiffMeanHourlyPercent  DiffMedianHourlyPercent  DiffMeanBonusPercent  \
0                   18.0                     28.2                   0.0
1                    2.3                     -2.7                  15.0
2                    1.7                      2.8                  13.1
3                   41.0                     36.0                 -69.8
4                  -22.0                    -34.0                 -47.0

   DiffMedianBonusPercent  MaleBonusPercent  FemaleBonusPercent  \
0                     0.0               0.0                 0.0
1                    37.5              15.6                66.7
2                    13.6              70.0                57.0
3                  -157.2              50.0                73.5
4                   -67.0              25.0                75.0

             ...             FemaleLowerMiddleQuartile  \
0            ...                                  49.2
1            ...                                  74.6
2            ...                                  47.0
3            ...                                  98.0
4            ...                                  48.0

   MaleUpperMiddleQuartile  FemaleUpperMiddleQuartile  MaleTopQuartile  \
0                     49.2                       50.8             51.5
1                     10.3                       89.7             18.1
2                     50.0                       50.0             58.0
3                     11.0                       89.0             23.0
4                     30.0                       70.0             24.0

   FemaleTopQuartile                     CompanyLinkToGPGInfo  \
0               48.5   https://www.bryanston.co.uk/employment
1               81.9                                      NaN
2               42.0                                      NaN
3               77.0                                      NaN
4               76.0  https://www.1610.org.uk/gender-pay-gap/

                                 ResponsiblePerson  EmployerSize  \
0  Nick McRobb (Bursar and Clerk to the Governors)    500 to 999
1                  Philip Galt (Managing Director)    250 to 499
2                 Emma Crowe (VP, Human Resources)    500 to 999
3               Chloe Lines (Financial Controller)    250 to 499
4                            Tim Nightingale (CEO)    250 to 499

                            CurrentName SubmittedAfterTheDeadline
0       "Bryanston School",Incorporated                     False
1  "RED BAND" CHEMICAL COMPANY, LIMITED                     False
2                           118 LIMITED                     False
3                     123 EMPLOYEES LTD                      True
4                          1610 LIMITED                      True

[5 rows x 23 columns]
       DiffMeanHourlyPercent  DiffMedianHourlyPercent  DiffMeanBonusPercent  \
count           10524.000000             10524.000000          10524.000000
mean               14.283884                11.791828              7.531034
std                15.180418                16.093322            834.449774
min              -400.000000              -196.500000         -82000.000000
25%                 5.000000                 0.700000              0.000000
50%                13.300000                 9.200000             22.000000
75%                22.900000                21.000000             52.925000
max               159.000000               320.000000           3848.200000

       DiffMedianBonusPercent  MaleBonusPercent  FemaleBonusPercent  \
count            10524.000000      10524.000000        10524.000000
mean               -21.572605         35.401036           33.945097
std               1401.585217         36.321735           36.031592
min            -120695.000000          0.000000            0.000000
25%                  0.000000          0.800000            0.300000
50%                  5.000000         19.450000           17.200000
75%                 38.000000         73.000000           70.100000
max               3848.200000        100.000000          100.000000

       MaleLowerQuartile  FemaleLowerQuartile  MaleLowerMiddleQuartile  \
count       10524.000000         10524.000000             10524.000000
mean           46.405568            53.594432                50.567759
std            24.136067            24.136067                26.096108
min             0.000000             0.000000                 0.000000
25%            27.000000            35.500000                29.500000
50%            44.500000            55.500000                48.500000
75%            64.500000            73.000000                72.425000
max           100.000000           100.000000               100.000000

       FemaleLowerMiddleQuartile  MaleUpperMiddleQuartile  \
count               10524.000000             10524.000000
mean                   49.432241                54.932260
std                    26.096108                26.228081
min                     0.000000                 0.000000
25%                    27.575000                34.000000
50%                    51.500000                54.000000
75%                    70.500000                78.700000
max                   100.000000               100.000000

       FemaleUpperMiddleQuartile  MaleTopQuartile  FemaleTopQuartile
count               10524.000000     10524.000000       10524.000000
mean                   45.067740        60.815887          39.184113
std                    26.228081        24.418284          24.418284
min                     0.000000         0.000000           0.000000
25%                    21.300000        41.500000          17.100000
50%                    46.000000        62.700000          37.300000
75%                    66.000000        82.900000          58.500000
max                   100.000000       100.000000         100.000000
EmployerName                  object
Address                       object
CompanyNumber                 object
SicCodes                      object
DiffMeanHourlyPercent        float64
DiffMedianHourlyPercent      float64
DiffMeanBonusPercent         float64
DiffMedianBonusPercent       float64
MaleBonusPercent             float64
FemaleBonusPercent           float64
MaleLowerQuartile            float64
FemaleLowerQuartile          float64
MaleLowerMiddleQuartile      float64
FemaleLowerMiddleQuartile    float64
MaleUpperMiddleQuartile      float64
FemaleUpperMiddleQuartile    float64
MaleTopQuartile              float64
FemaleTopQuartile            float64
CompanyLinkToGPGInfo          object
ResponsiblePerson             object
EmployerSize                  object
CurrentName                   object
SubmittedAfterTheDeadline       bool
dtype: object
EmployerName                    0
Address                         0
CompanyNumber                1347
SicCodes                      569
DiffMeanHourlyPercent           0
DiffMedianHourlyPercent         0
DiffMeanBonusPercent            0
DiffMedianBonusPercent          0
MaleBonusPercent                0
FemaleBonusPercent              0
MaleLowerQuartile               0
FemaleLowerQuartile             0
MaleLowerMiddleQuartile         0
FemaleLowerMiddleQuartile       0
MaleUpperMiddleQuartile         0
FemaleUpperMiddleQuartile       0
MaleTopQuartile                 0
FemaleTopQuartile               0
CompanyLinkToGPGInfo         2759
ResponsiblePerson            1673
EmployerSize                    0
CurrentName                     0
SubmittedAfterTheDeadline       0
dtype: int64
(10524, 23)

In [77]:
matches = pd.read_csv('./Indeed to GPG Company Name - indeed_companies_match.csv')

In [78]:
matches = matches.drop(['Verifier', 'Suggested GPG Matches'], axis=1)

In [79]:
matched_companies = matches[matches['Human-Verified GPG Match'] != "no match"]

Clean the text from the job summary column and replace in the dataframe

In [80]:
fulltime_data['jobsummary'] = fulltime_data['jobsummary'].apply(lambda x: parse_summary(x))
parttime_data['jobsummary'] = parttime_data['jobsummary'].apply(lambda x: parse_summary(x))

fulltime_data['Fulltime'] = True
parttime_data['Fulltime'] = False

analyse_df(fulltime_data)

               city                                            company  \
0           Croydon                                     Harris Careers
1            London       King's College Hospital NHS Foundation Trust
2            Oxford   Oxford University Hospitals NHS Foundation Trust
3        Canterbury  Kent and Medway NHS and Social Care Partnershi...
4  South Kensington                         Victoria and Albert Museum

  country                           date  expired formattedLocation  \
0      GB  Fri, 22 Jun 2018 04:02:55 GMT    False       Croydon CR0
1      GB  Fri, 22 Jun 2018 06:06:14 GMT    False        London SE5
2      GB  Fri, 22 Jun 2018 06:17:06 GMT    False        Oxford OX3
3      GB  Fri, 22 Jun 2018 06:06:13 GMT    False    Canterbury CT1
4      GB  Fri, 22 Jun 2018 07:52:25 GMT    False  South Kensington

  formattedLocationFull formattedRelativeTime  indeedApply            jobkey  \
0           Croydon CR0           4 hours ago        False  5b20a1592d2070b8
1            London SE5           2 hours ago        False  fa7b15055f716884
2            Oxford OX3           2 hours ago        False  041b0b1c6383f14c
3        Canterbury CT1           2 hours ago        False  06435865394d1dd3
4      South Kensington            1 hour ago        False  22fdee2c3d566364

    ...                                              jobtitle language  \
0   ...          2018/19 Harris Graduate Programme: Secondary       en
1   ...     Receptionist -Beckenham Beacon Hospital Outpat...       en
2   ...                                    Genetics Scientist       en
3   ...                       In-House Recruitment Consultant       en
4   ...     Shop Assistant Full-time 37.5, Fixed Term unti...       en

                onmousedown  \
0  indeed_clk(this,'5383');
1  indeed_clk(this,'5383');
2  indeed_clk(this,'5383');
3  indeed_clk(this,'5383');
4  indeed_clk(this,'5383');

                                             snippet  \
0  If you are a recent graduate who is passionate...
1  TwoÂ exciting opportunities have arisenÂ at Be...
2  FIXED TERM (12 months) CLINICAL SCIENTIST - BA...
3  Itâs an exciting time to join us: KMPT has b...
4  Fixed Term contract until 18 August 2018 Full-...

                                              source sponsored  state  \
0                                     Harris Careers     False    ENG
1       King's College Hospital NHS Foundation Trust     False    ENG
2   Oxford University Hospitals NHS Foundation Trust     False    ENG
3  Kent and Medway NHS and Social Care Partnershi...     False    ENG
4                         Victoria and Albert Museum     False    ENG

  stations                                                url Fulltime
0           http://www.indeed.co.uk/viewjob?jk=5b20a1592d2...     True
1           http://www.indeed.co.uk/viewjob?jk=fa7b15055f7...     True
2           http://www.indeed.co.uk/viewjob?jk=041b0b1c638...     True
3           http://www.indeed.co.uk/viewjob?jk=06435865394...     True
4           http://www.indeed.co.uk/viewjob?jk=22fdee2c3d5...     True

[5 rows x 21 columns]
          city   company country                           date expired  \
count     1000      1000    1000                           1000    1000
unique     296       343       1                            411       1
top     London  EduStaff      GB  Fri, 22 Jun 2018 05:06:51 GMT   False
freq       190        85    1000                             44    1000

       formattedLocation formattedLocationFull formattedRelativeTime  \
count               1000                  1000                  1000
unique               436                   436                     5
top               London                London           2 hours ago
freq                  99                    99                   530

       indeedApply            jobkey   ...        jobtitle language  \
count         1000              1000   ...            1000     1000
unique           2              1000   ...             931        2
top          False  93bebc6cf4b30b5d   ...     Staff Nurse       en
freq           857                 1   ...              10      999

                     onmousedown  \
count                       1000
unique                        40
top     indeed_clk(this,'5179');
freq                          25

                                                  snippet  source sponsored  \
count                                                1000    1000      1000
unique                                                944     244         1
top     Join us and you'll become part of a crew, or a...  Indeed     False
freq                                                   11     129      1000

       state stations                                                url  \
count   1000     1000                                               1000
unique     6        1                                               1000
top      ENG           http://www.indeed.co.uk/viewjob?jk=f7f2a31db02...
freq     933     1000                                                  1

       Fulltime
count      1000
unique        1
top        True
freq       1000

[4 rows x 21 columns]
city                     object
company                  object
country                  object
date                     object
expired                    bool
formattedLocation        object
formattedLocationFull    object
formattedRelativeTime    object
indeedApply                bool
jobkey                   object
jobsummary               object
jobtitle                 object
language                 object
onmousedown              object
snippet                  object
source                   object
sponsored                  bool
state                    object
stations                 object
url                      object
Fulltime                   bool
dtype: object
city                     0
company                  0
country                  0
date                     0
expired                  0
formattedLocation        0
formattedLocationFull    0
formattedRelativeTime    0
indeedApply              0
jobkey                   0
jobsummary               0
jobtitle                 0
language                 0
onmousedown              0
snippet                  0
source                   0
sponsored                0
state                    0
stations                 0
url                      0
Fulltime                 0
dtype: int64
(1000, 21)

In [81]:
indeed = pd.concat([fulltime_data, parttime_data])

In [82]:
indeed['company'] = indeed['company'].astype(str).map(lambda x: x.strip().lower())
analyse_df(indeed)

               city                                            company  \
0           Croydon                                     harris careers
1            London       king's college hospital nhs foundation trust
2            Oxford   oxford university hospitals nhs foundation trust
3        Canterbury  kent and medway nhs and social care partnershi...
4  South Kensington                         victoria and albert museum

  country                           date  expired formattedLocation  \
0      GB  Fri, 22 Jun 2018 04:02:55 GMT    False       Croydon CR0
1      GB  Fri, 22 Jun 2018 06:06:14 GMT    False        London SE5
2      GB  Fri, 22 Jun 2018 06:17:06 GMT    False        Oxford OX3
3      GB  Fri, 22 Jun 2018 06:06:13 GMT    False    Canterbury CT1
4      GB  Fri, 22 Jun 2018 07:52:25 GMT    False  South Kensington

  formattedLocationFull formattedRelativeTime  indeedApply            jobkey  \
0           Croydon CR0           4 hours ago        False  5b20a1592d2070b8
1            London SE5           2 hours ago        False  fa7b15055f716884
2            Oxford OX3           2 hours ago        False  041b0b1c6383f14c
3        Canterbury CT1           2 hours ago        False  06435865394d1dd3
4      South Kensington            1 hour ago        False  22fdee2c3d566364

    ...                                              jobtitle language  \
0   ...          2018/19 Harris Graduate Programme: Secondary       en
1   ...     Receptionist -Beckenham Beacon Hospital Outpat...       en
2   ...                                    Genetics Scientist       en
3   ...                       In-House Recruitment Consultant       en
4   ...     Shop Assistant Full-time 37.5, Fixed Term unti...       en

                onmousedown  \
0  indeed_clk(this,'5383');
1  indeed_clk(this,'5383');
2  indeed_clk(this,'5383');
3  indeed_clk(this,'5383');
4  indeed_clk(this,'5383');

                                             snippet  \
0  If you are a recent graduate who is passionate...
1  TwoÂ exciting opportunities have arisenÂ at Be...
2  FIXED TERM (12 months) CLINICAL SCIENTIST - BA...
3  Itâs an exciting time to join us: KMPT has b...
4  Fixed Term contract until 18 August 2018 Full-...

                                              source sponsored  state  \
0                                     Harris Careers     False    ENG
1       King's College Hospital NHS Foundation Trust     False    ENG
2   Oxford University Hospitals NHS Foundation Trust     False    ENG
3  Kent and Medway NHS and Social Care Partnershi...     False    ENG
4                         Victoria and Albert Museum     False    ENG

  stations                                                url Fulltime
0           http://www.indeed.co.uk/viewjob?jk=5b20a1592d2...     True
1           http://www.indeed.co.uk/viewjob?jk=fa7b15055f7...     True
2           http://www.indeed.co.uk/viewjob?jk=041b0b1c638...     True
3           http://www.indeed.co.uk/viewjob?jk=06435865394...     True
4           http://www.indeed.co.uk/viewjob?jk=22fdee2c3d5...     True

[5 rows x 21 columns]
          city   company country                           date expired  \
count     2000      2000    2000                           2000    2000
unique     516       765       1                           1060       1
top     London  edustaff      GB  Fri, 22 Jun 2018 05:06:51 GMT   False
freq       257        85    2000                             44    2000

       formattedLocation formattedLocationFull formattedRelativeTime  \
count               2000                  2000                  2000
unique               827                   827                    17
top               London                London           2 hours ago
freq                 145                   145                   576

       indeedApply            jobkey   ...                   jobtitle  \
count         2000              2000   ...                       2000
unique           2              1991   ...                       1661
top          False  4693c7d5465a0d4a   ...     Retail Sales Assistant
freq          1734                 2   ...                         19

       language               onmousedown  \
count      2000                      2000
unique        5                        80
top          en  indeed_clk(this,'5179');
freq       1992                        25

                                                  snippet  source sponsored  \
count                                                2000    2000      2000
unique                                               1762     418         1
top     The Ideal Candidate We want fun, enthusiastic,...  Indeed     False
freq                                                   32     256      2000

       state stations                                                url  \
count   2000     2000                                               2000
unique     6        1                                               2000
top      ENG           http://www.indeed.co.uk/viewjob?jk=f7f2a31db02...
freq    1806     2000                                                  1

       Fulltime
count      2000
unique        2
top        True
freq       1000

[4 rows x 21 columns]
city                     object
company                  object
country                  object
date                     object
expired                    bool
formattedLocation        object
formattedLocationFull    object
formattedRelativeTime    object
indeedApply                bool
jobkey                   object
jobsummary               object
jobtitle                 object
language                 object
onmousedown              object
snippet                  object
source                   object
sponsored                  bool
state                    object
stations                 object
url                      object
Fulltime                   bool
dtype: object
city                     0
company                  0
country                  0
date                     0
expired                  0
formattedLocation        0
formattedLocationFull    0
formattedRelativeTime    0
indeedApply              0
jobkey                   0
jobsummary               0
jobtitle                 0
language                 0
onmousedown              0
snippet                  0
source                   0
sponsored                0
state                    0
stations                 0
url                      0
Fulltime                 0
dtype: int64
(2000, 21)

In [83]:
matched_indeed = indeed.merge(matched_companies, how='inner', left_on="company", right_on="Indeed Company")
analyse_df(matched_indeed)

      city                                           company country  \
0  Croydon                                    harris careers      GB
1   Oxford  oxford university hospitals nhs foundation trust      GB
2   Oxford  oxford university hospitals nhs foundation trust      GB
3   Oxford  oxford university hospitals nhs foundation trust      GB
4   Oxford  oxford university hospitals nhs foundation trust      GB

                            date  expired formattedLocation  \
0  Fri, 22 Jun 2018 04:02:55 GMT    False       Croydon CR0
1  Fri, 22 Jun 2018 06:17:06 GMT    False        Oxford OX3
2  Fri, 22 Jun 2018 06:05:56 GMT    False        Oxford OX3
3  Fri, 22 Jun 2018 06:05:37 GMT    False        Oxford OX3
4  Fri, 22 Jun 2018 06:04:57 GMT    False        Oxford OX3

  formattedLocationFull formattedRelativeTime  indeedApply            jobkey  \
0           Croydon CR0           4 hours ago        False  5b20a1592d2070b8
1            Oxford OX3           2 hours ago        False  041b0b1c6383f14c
2            Oxford OX3           2 hours ago        False  fa28a9bc201aea0c
3            Oxford OX3           2 hours ago        False  8ba93b760939f69b
4            Oxford OX3           2 hours ago        False  7a6611457940703b

                     ...                                   onmousedown  \
0                    ...                      indeed_clk(this,'5383');
1                    ...                      indeed_clk(this,'5383');
2                    ...                      indeed_clk(this,'9204');
3                    ...                      indeed_clk(this,'9204');
4                    ...                       indeed_clk(this,'722');

                                             snippet  \
0  If you are a recent graduate who is passionate...
1  FIXED TERM (12 months) CLINICAL SCIENTIST - BA...
2  A unique opportunity has arisen for an enthusi...
3  LINEN SERVICES BAND 1 LINEN DISTRIBUTION ASSIS...
4  Â BAND 2 HEALTH RECORDS OFFICER Health Records...

                                             source sponsored state stations  \
0                                    Harris Careers     False   ENG
1  Oxford University Hospitals NHS Foundation Trust     False   ENG
2  Oxford University Hospitals NHS Foundation Trust     False   ENG
3  Oxford University Hospitals NHS Foundation Trust     False   ENG
4  Oxford University Hospitals NHS Foundation Trust     False   ENG

                                                 url Fulltime  \
0  http://www.indeed.co.uk/viewjob?jk=5b20a1592d2...     True
1  http://www.indeed.co.uk/viewjob?jk=041b0b1c638...     True
2  http://www.indeed.co.uk/viewjob?jk=fa28a9bc201...     True
3  http://www.indeed.co.uk/viewjob?jk=8ba93b76093...     True
4  http://www.indeed.co.uk/viewjob?jk=7a661145794...     True

                                     Indeed Company  \
0                                    harris careers
1  oxford university hospitals nhs foundation trust
2  oxford university hospitals nhs foundation trust
3  oxford university hospitals nhs foundation trust
4  oxford university hospitals nhs foundation trust

                    Human-Verified GPG Match
0                          harris federation
1  the oxford university hospitals nhs trust
2  the oxford university hospitals nhs trust
3  the oxford university hospitals nhs trust
4  the oxford university hospitals nhs trust

[5 rows x 23 columns]
          city              company country                           date  \
count     1178                 1178    1178                           1178
unique     345                  329       1                            528
top     London  j d wetherspoon plc      GB  Fri, 22 Jun 2018 06:05:56 GMT
freq       140                   50    1178                             35

       expired formattedLocation formattedLocationFull formattedRelativeTime  \
count     1178              1178                  1178                  1178
unique       1               546                   546                    17
top      False            London                London           2 hours ago
freq      1178                57                    57                   415

       indeedApply            jobkey           ...             \
count         1178              1178           ...
unique           2              1176           ...
top          False  5a25f70ba99f0b97           ...
freq          1138                 2           ...

                     onmousedown  \
count                       1178
unique                        80
top     indeed_clk(this,'9851');
freq                          25

                                                  snippet  \
count                                                1178
unique                                               1007
top     The Ideal Candidate We want fun, enthusiastic,...
freq                                                   32

                     source sponsored state stations  \
count                  1178      1178  1178     1178
unique                  288         1     6        1
top     J D Wetherspoon plc     False   ENG
freq                     50      1178  1096     1178

                                                      url Fulltime  \
count                                                1178     1178
unique                                               1178        2
top     http://www.indeed.co.uk/viewjob?jk=320ff88921d...    False
freq                                                    1      604

             Indeed Company Human-Verified GPG Match
count                  1178                     1178
unique                  329                      318
top     j d wetherspoon plc      j d wetherspoon plc
freq                     50                       50

[4 rows x 23 columns]
city                        object
company                     object
country                     object
date                        object
expired                       bool
formattedLocation           object
formattedLocationFull       object
formattedRelativeTime       object
indeedApply                   bool
jobkey                      object
jobsummary                  object
jobtitle                    object
language                    object
onmousedown                 object
snippet                     object
source                      object
sponsored                     bool
state                       object
stations                    object
url                         object
Fulltime                      bool
Indeed Company              object
Human-Verified GPG Match    object
dtype: object
city                        0
company                     0
country                     0
date                        0
expired                     0
formattedLocation           0
formattedLocationFull       0
formattedRelativeTime       0
indeedApply                 0
jobkey                      0
jobsummary                  0
jobtitle                    0
language                    0
onmousedown                 0
snippet                     0
source                      0
sponsored                   0
state                       0
stations                    0
url                         0
Fulltime                    0
Indeed Company              0
Human-Verified GPG Match    0
dtype: int64
(1178, 23)

In [84]:
gov_data['EmployerName'] = gov_data['EmployerName'].astype(str).map(lambda x: x.strip().lower())

In [85]:
complete_data = matched_indeed.merge(gov_data, how='inner', left_on="Human-Verified GPG Match", right_on="EmployerName")

In [86]:
analyse_df(complete_data)

      city                                           company country  \
0  Croydon                                    harris careers      GB
1   Oxford  oxford university hospitals nhs foundation trust      GB
2   Oxford  oxford university hospitals nhs foundation trust      GB
3   Oxford  oxford university hospitals nhs foundation trust      GB
4   Oxford  oxford university hospitals nhs foundation trust      GB

                            date  expired formattedLocation  \
0  Fri, 22 Jun 2018 04:02:55 GMT    False       Croydon CR0
1  Fri, 22 Jun 2018 06:17:06 GMT    False        Oxford OX3
2  Fri, 22 Jun 2018 06:05:56 GMT    False        Oxford OX3
3  Fri, 22 Jun 2018 06:05:37 GMT    False        Oxford OX3
4  Fri, 22 Jun 2018 06:04:57 GMT    False        Oxford OX3

  formattedLocationFull formattedRelativeTime  indeedApply            jobkey  \
0           Croydon CR0           4 hours ago        False  5b20a1592d2070b8
1            Oxford OX3           2 hours ago        False  041b0b1c6383f14c
2            Oxford OX3           2 hours ago        False  fa28a9bc201aea0c
3            Oxford OX3           2 hours ago        False  8ba93b760939f69b
4            Oxford OX3           2 hours ago        False  7a6611457940703b

             ...            FemaleLowerMiddleQuartile MaleUpperMiddleQuartile  \
0            ...                                 71.8                    33.5
1            ...                                 79.0                    16.5
2            ...                                 79.0                    16.5
3            ...                                 79.0                    16.5
4            ...                                 79.0                    16.5

  FemaleUpperMiddleQuartile MaleTopQuartile FemaleTopQuartile  \
0                      66.5            40.8              59.2
1                      83.5            38.2              61.8
2                      83.5            38.2              61.8
3                      83.5            38.2              61.8
4                      83.5            38.2              61.8

                                CompanyLinkToGPGInfo  ResponsiblePerson  \
0                http://www.harrisfederation.org.uk/                NaN
1  http://www.ouh.nhs.uk/about/trust-board/2018/m...                NaN
2  http://www.ouh.nhs.uk/about/trust-board/2018/m...                NaN
3  http://www.ouh.nhs.uk/about/trust-board/2018/m...                NaN
4  http://www.ouh.nhs.uk/about/trust-board/2018/m...                NaN

     EmployerSize                                CurrentName  \
0    1000 to 4999                          Harris Federation
1  5000 to 19,999  The Oxford University Hospitals Nhs Trust
2  5000 to 19,999  The Oxford University Hospitals Nhs Trust
3  5000 to 19,999  The Oxford University Hospitals Nhs Trust
4  5000 to 19,999  The Oxford University Hospitals Nhs Trust

  SubmittedAfterTheDeadline
0                     False
1                     False
2                     False
3                     False
4                     False

[5 rows x 46 columns]
       DiffMeanHourlyPercent  DiffMedianHourlyPercent  DiffMeanBonusPercent  \
count            1094.000000              1094.000000           1094.000000
mean               18.470293                11.156033             30.203291
std                13.328165                12.742654             61.826680
min               -18.400000               -17.800000           -697.900000
25%                 7.700000                 2.500000             12.600000
50%                17.350000                 8.450000             33.100000
75%                27.500000                15.400000             57.000000
max                59.000000                52.500000            100.000000

       DiffMedianBonusPercent  MaleBonusPercent  FemaleBonusPercent  \
count             1094.000000       1094.000000         1094.000000
mean                23.938391         31.322852           28.865082
std                 87.981439         33.710234           34.620518
min              -1525.000000          0.000000            0.000000
25%                  0.000000          4.850000            0.700000
50%                 27.800000          9.300000            4.300000
75%                 50.000000         54.600000           53.000000
max                100.000000        100.000000          100.000000

       MaleLowerQuartile  FemaleLowerQuartile  MaleLowerMiddleQuartile  \
count        1094.000000          1094.000000              1094.000000
mean           31.157495            68.842505                32.070384
std            16.835241            16.835241                18.930565
min             0.000000             4.300000                 0.000000
25%            20.800000            60.000000                18.425000
50%            26.400000            73.600000                27.000000
75%            40.000000            79.200000                41.000000
max            95.700000           100.000000                95.300000

       FemaleLowerMiddleQuartile  MaleUpperMiddleQuartile  \
count                1094.000000              1094.000000
mean                   67.929616                34.692779
std                    18.930565                21.615308
min                     4.700000                 0.000000
25%                    59.000000                16.500000
50%                    73.000000                28.850000
75%                    81.575000                52.000000
max                   100.000000               100.000000

       FemaleUpperMiddleQuartile  MaleTopQuartile  FemaleTopQuartile
count                1094.000000      1094.000000        1094.000000
mean                   65.307221        45.872486          54.127514
std                    21.615308        19.923012          19.923012
min                     0.000000         4.500000           6.700000
25%                    48.000000        31.800000          41.000000
50%                    71.150000        38.400000          61.600000
75%                    83.500000        59.000000          68.200000
max                   100.000000        93.300000          95.500000
city                          object
company                       object
country                       object
date                          object
expired                         bool
formattedLocation             object
formattedLocationFull         object
formattedRelativeTime         object
indeedApply                     bool
jobkey                        object
jobsummary                    object
jobtitle                      object
language                      object
onmousedown                   object
snippet                       object
source                        object
sponsored                       bool
state                         object
stations                      object
url                           object
Fulltime                        bool
Indeed Company                object
Human-Verified GPG Match      object
EmployerName                  object
Address                       object
CompanyNumber                 object
SicCodes                      object
DiffMeanHourlyPercent        float64
DiffMedianHourlyPercent      float64
DiffMeanBonusPercent         float64
DiffMedianBonusPercent       float64
MaleBonusPercent             float64
FemaleBonusPercent           float64
MaleLowerQuartile            float64
FemaleLowerQuartile          float64
MaleLowerMiddleQuartile      float64
FemaleLowerMiddleQuartile    float64
MaleUpperMiddleQuartile      float64
FemaleUpperMiddleQuartile    float64
MaleTopQuartile              float64
FemaleTopQuartile            float64
CompanyLinkToGPGInfo          object
ResponsiblePerson             object
EmployerSize                  object
CurrentName                   object
SubmittedAfterTheDeadline       bool
dtype: object
city                           0
company                        0
country                        0
date                           0
expired                        0
formattedLocation              0
formattedLocationFull          0
formattedRelativeTime          0
indeedApply                    0
jobkey                         0
jobsummary                     0
jobtitle                       0
language                       0
onmousedown                    0
snippet                        0
source                         0
sponsored                      0
state                          0
stations                       0
url                            0
Fulltime                       0
Indeed Company                 0
Human-Verified GPG Match       0
EmployerName                   0
Address                        0
CompanyNumber                532
SicCodes                      20
DiffMeanHourlyPercent          0
DiffMedianHourlyPercent        0
DiffMeanBonusPercent           0
DiffMedianBonusPercent         0
MaleBonusPercent               0
FemaleBonusPercent             0
MaleLowerQuartile              0
FemaleLowerQuartile            0
MaleLowerMiddleQuartile        0
FemaleLowerMiddleQuartile      0
MaleUpperMiddleQuartile        0
FemaleUpperMiddleQuartile      0
MaleTopQuartile                0
FemaleTopQuartile              0
CompanyLinkToGPGInfo         152
ResponsiblePerson            534
EmployerSize                   0
CurrentName                    0
SubmittedAfterTheDeadline      0
dtype: int64
(1094, 46)

In [87]:
print(complete_data.columns)

Index([                     u'city',                   u'company',
                         u'country',                      u'date',
                         u'expired',         u'formattedLocation',
           u'formattedLocationFull',     u'formattedRelativeTime',
                     u'indeedApply',                    u'jobkey',
                      u'jobsummary',                  u'jobtitle',
                        u'language',               u'onmousedown',
                         u'snippet',                    u'source',
                       u'sponsored',                     u'state',
                        u'stations',                       u'url',
                        u'Fulltime',            u'Indeed Company',
        u'Human-Verified GPG Match',              u'EmployerName',
                         u'Address',             u'CompanyNumber',
                        u'SicCodes',     u'DiffMeanHourlyPercent',
         u'DiffMedianHourlyPercent',      u'DiffMeanBonusPercent',
          u'DiffMedianBonusPercent',          u'MaleBonusPercent',
              u'FemaleBonusPercent',         u'MaleLowerQuartile',
             u'FemaleLowerQuartile',   u'MaleLowerMiddleQuartile',
       u'FemaleLowerMiddleQuartile',   u'MaleUpperMiddleQuartile',
       u'FemaleUpperMiddleQuartile',           u'MaleTopQuartile',
               u'FemaleTopQuartile',      u'CompanyLinkToGPGInfo',
               u'ResponsiblePerson',              u'EmployerSize',
                     u'CurrentName', u'SubmittedAfterTheDeadline'],
      dtype='object')

In [88]:
subset_data = complete_data[['company', 'jobtitle', 'DiffMeanHourlyPercent', 'DiffMedianHourlyPercent', 'jobsummary']]
#analyse_df(subset_data)

                                            company  \
0                                    harris careers
1  oxford university hospitals nhs foundation trust
2  oxford university hospitals nhs foundation trust
3  oxford university hospitals nhs foundation trust
4  oxford university hospitals nhs foundation trust

                                       jobtitle  DiffMeanHourlyPercent  \
0  2018/19 Harris Graduate Programme: Secondary                   18.2
1                            Genetics Scientist                   26.0
2                             Foundation Year 2                   26.0
3                               Linen Assistant                   26.0
4                        Health Records Officer                   26.0

                                          jobsummary
0  if you are a recent graduate who is passionate...
1  fixed term (12 months) clinical scientist - ba...
2                                               none
3  linen services\n\nband 1 linen distribution as...
4  â band 2 health records officer\n\nhealth reco...
       DiffMeanHourlyPercent
count            1094.000000
mean               18.470293
std                13.328165
min               -18.400000
25%                 7.700000
50%                17.350000
75%                27.500000
max                59.000000
company                   object
jobtitle                  object
DiffMeanHourlyPercent    float64
jobsummary                object
dtype: object
company                  0
jobtitle                 0
DiffMeanHourlyPercent    0
jobsummary               0
dtype: int64
(1094, 4)

In [ ]:
#df = pd.concat([df_fulltime, df_parttime]) # text files from with job summary
# df['Matches'] = df['company'].map(lambda x: difflib.get_close_matches(x, gov_data['EmployerName']))
# match_df = df.Matches.apply(pd.Series).rename(columns={0:'EmployerName'})
# df = pd.concat([match_df['EmployerName'],df], axis=1)
# pay_desc_df = pd.merge(pay_df,df, how="inner", on='EmployerName')
#analyse_df(pay_desc_df)

In [90]:
def tokenise_text(text):
    text = text.strip()
    tokenizer = RegexpTokenizer(r'\b[^\d\W]+\b')  # get rid of backslashes
    stop_words = set(stopwords.words('english'))
    tokens = tokenizer.tokenize(text.lower())
    words = [t for t in tokens if t not in stop_words]
    del stop_words
    return words

In [9]:
text1 = clean_summary_full.iloc[0]
#print(text1)
tokens = tokenise_text(text1)
#print(tokens)

In [92]:
subset_data['jobsummary'] = subset_data['jobsummary'].apply(lambda x: tokenise_text(x))

In [14]:
def find_word_occurrences(dataframe, word):
    count = 0
    for row in df_fulltime.iterrows():
        description = row[1]['jobsummary']
        if word.lower() in description:
            count += 1
            company = row[1]['company']
            title = row[1]['jobtitle']
            print(company + " | " + title)
        #    for sentence in split_into_sentences(description):
       #         if word in sentence:
      #              print(sentence)
     #       print('\n')
    #print('Total jobs: ' + str(count))

In [16]:
#find_word_occurrences(df_fulltime, 'macintyre')

In [ ]:
#analyse_df(df)

#ad1 = fulltime_data[0]
#print(ad1)
#print(len(ad1))
#for item in ad1:
    #print item, "\n", ad1[item], "\n"

#print ad1["city"]

#for item in data[0:10]:
#    print item["city"], "\n"

# cities = []
# city_dict = defaultdict(int)
# for item in data:
#     city = item["city"]
#     if city not in city_dict:
#         city_dict[city] = 1
#         cities.append(city)
#     else:
#         city_dict[city] += 1

#print(len(cities))
#print(city_dict)

#title_and_summary = df[['jobtitle','jobsummary']]
#print(title_and_summary.head())